@import "tailwindcss";

@theme inline {
  --color-brand-900: #3A2D28;
  --color-brand-700: #76220B;
  --color-brand-600: #AA8374;
  --color-brand-500: #CBA08D;
  --color-brand-400: #D1C7BD;
  --color-brand-200: #EBE3DB;
  --color-brand-100: #F1EDE6;
  --color-brand-50: #F8F5F1;

  --font-serif: var(--font-cormorant);
  --font-script: var(--font-dancing);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-brand-50);
  color: var(--color-brand-900);
  font-family: var(--font-serif);
}

::selection {
  background-color: var(--color-brand-200);
  color: var(--color-brand-900);
}

input, select, textarea {
  font-family: var(--font-serif);
}
